@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Ubuntu");
/* line 4, ../../components/dm-ecal/sass/_base.scss */
body {
  color: #000;
}

/* line 12, ../../components/dm-ecal/sass/_layout.scss */
.event-calendar-layout .month-year-bar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  background: #999;
  padding: 2px 8px;
  font-family: 'Ubuntu', sans-serif;
}
/* line 21, ../../components/dm-ecal/sass/_layout.scss */
.event-calendar-layout .month-year-bar .month {
  float: right;
}
/* line 28, ../../components/dm-ecal/sass/_layout.scss */
.event-calendar-layout .month-year-bar .year {
  float: left;
}
/* line 34, ../../components/dm-ecal/sass/_layout.scss */
.event-calendar-layout .month-year-bar .month {
  float: right;
}
/* line 36, ../../components/dm-ecal/sass/_layout.scss */
.event-calendar-layout .month-year-bar .month .prev {
  padding: 0 2px;
}
/* line 41, ../../components/dm-ecal/sass/_layout.scss */
.event-calendar-layout .month-year-bar a {
  color: #000;
  text-decoration: none;
}
/* line 46, ../../components/dm-ecal/sass/_layout.scss */
.event-calendar-layout .month-year-bar i {
  text-align: center;
  width: 15px;
  font-size: 1.2rem;
}
/* line 52, ../../components/dm-ecal/sass/_layout.scss */
.event-calendar-layout .month-year-bar span {
  font-size: 1rem;
  font-weight: 300;
}
/* line 13, ../../components/dm-ecal/sass/_mixins.scss */
.event-calendar-layout .month-year-bar span:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: .1px;
}
/* line 61, ../../components/dm-ecal/sass/_layout.scss */
.event-calendar-layout .dates-bar {
  position: relative;
  background: #999;
}
/* line 65, ../../components/dm-ecal/sass/_layout.scss */
.event-calendar-layout .dates-bar a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 67, ../../components/dm-ecal/sass/_layout.scss */
.event-calendar-layout .dates-bar a.prev {
  text-align: center;
  position: absolute;
  left: 0;
  width: 20px;
  border-left: 1px solid #e7e7e7;
}
/* line 76, ../../components/dm-ecal/sass/_layout.scss */
.event-calendar-layout .dates-bar a.next {
  position: absolute;
  text-align: center;
  right: 0;
  display: inline-block;
  border-right: 1px solid #e7e7e7;
  width: 20px;
}
