@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Ubuntu");
/* line 4, ../../components/dm-ecal/sass/_base.scss */
body {
  color: #000;
}

/* line 5, ../../components/dm-ecal/sass/_layout.scss */
.layout .month-year-bar {
  font-family: 'Ubuntu', sans-serif;
}
/* line 8, ../../components/dm-ecal/sass/_layout.scss */
.layout .month-year-bar .month {
  float: right;
}
/* line 12, ../../components/dm-ecal/sass/_layout.scss */
.layout .month-year-bar .year {
  float: left;
}
/* line 14, ../../components/dm-ecal/sass/_layout.scss */
.layout .month-year-bar .year .prev {
  padding: 0 2px;
}
/* line 19, ../../components/dm-ecal/sass/_layout.scss */
.layout .month-year-bar .month {
  float: right;
}
/* line 21, ../../components/dm-ecal/sass/_layout.scss */
.layout .month-year-bar .month .prev {
  padding: 0 2px;
}
/* line 27, ../../components/dm-ecal/sass/_layout.scss */
.layout .month-year-bar a {
  color: #000;
  text-decoration: none;
}
/* line 31, ../../components/dm-ecal/sass/_layout.scss */
.layout .month-year-bar i {
  font-size: 1.2rem;
}
/* line 35, ../../components/dm-ecal/sass/_layout.scss */
.layout .month-year-bar span {
  font-size: 1rem;
  font-weight: 300;
}
/* line 11, ../../components/dm-ecal/sass/_mixins.scss */
.layout .month-year-bar span:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: .1px;
}
