@import 'compass';
@import 'susy';

.layout {
    .month-year-bar {
        $header-font-size:1;
        font-family:'Ubuntu', sans-serif;
        .month {
            float:right;
        }

        .year {
            float:left;
            .prev {
                padding:0 2px;
            }
        }

        .month {
            float:right;
            .prev {
                padding:0 2px;
            }

        }

        a {
            color:#000;
            text-decoration:none;
        }
        i {
            font-size:$header-font-size + .2  + rem;
        }

        span {
            @include ghostVerticalAlign;
            font-size:$header-font-size + rem;
            font-weight:300;
        }

    } // month-year-bar
} // .layout
