@import "compass/utilities/general/clearfix";

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


@mixin ghostVerticalAlign(){
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; width: .1px;
  }
}


@mixin clearfix {
      overflow: hidden;
      @include has-layout;
}


@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}


// rem
// Usage
// 
// p {
//      @include font-size(14px)
//   }
//

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}



// BREAKPOINTS -------------------------------------
@mixin bp-large {
    @media only screen and (max-width: 60em) {
        @content;
    }
}

@mixin bp-medium {
     @media only screen and (max-width: 40em) {
          @content;
    }
}

@mixin bp-small {
    @media only screen and (max-width: 30em) {
        @content;
    }
}

// Usage
// .selector {
//     @include bp-small {
//          width: 100%;
//          float: none;
//          margin: 0;
//         }
// }
// BREAKPOINTS -------------------------------------


@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

// Usage
// a {
//    color: gray;
//    @include transition(color .3s ease);
//    
//    &:hover {
//     color: black;
//     }
// }

